* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    line-height: 30px;
}

.container {
    width: 1180px;
    margin: 0 auto;
}

section {
    margin-bottom: 50px;
    padding: 20px;
}

h1, h2, h3, h4, h5, h6 {
    line-height: 60px;
}

h1 {
    font-size: 60px;
}

h2 {
    font-size: 40px;
}

h3 {
    font-size: 30px;
}

h4 {
    font-size: 28px;
}

p {
    font-size: 18px;
}

/* section-one */
.section-one {

}

.section-one .section-one-container {
    display: flex;
}

.section-one-item-one {
    width: 50%;
    border-right: 10px solid;
    border-image: radial-gradient(circle, #5c0067 0%, #00d4ff 100%);
    border-image-slice: 1;
    padding: 10px 0;
}

.section-one-item-two {
    width: 50%;
    padding: 10px 0;
    padding-left: 40px;
}

.section-one span {
    color: #00308F;
}

p.link {
    text-align: center;
    margin: 20px;
}

.link-button {
    padding: 10px 60px;
    background-image: linear-gradient(to right, #5c0067, #00d4ff);
    color: #fff;
    text-decoration: none;
    font-weight: 700;
}



/* section-two */
.section-two {

}

/* section-three */
.section-three {

}

/* section-four */
.section-four {

}

/* footer */